@font-face {
    font-family: behnama;
    src: url(./font/kalame.ttf)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#f2f2f2;
    font-family: behnama;
    direction: rtl;
}


.container {
    width: 900px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.856);
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    padding:50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.icon {
    padding-top: 5px;
    margin: auto;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    grid-column: 2;
    grid-row: 1;
}

.icon img {
    width: 57px;
    height: 100px;
}

.icon span {
    font-family: var(--bs-font-sans-serif);
}

.color1 {
    color: #E91E63;
}

.color2 {
    color: #5EC8D7;
}

.plusDep {
    grid-column: 2;
    grid-row: 3;
    margin-top: 20px;
    
}

.plusDep button {
    border: 0;
    outline: 0;
    width: 25px;
    background-color: #fff ;
    
}

.box{
    width: 200px;
    height: 210px;
    margin: auto;
    background-color: #f2f2f2;
    /* border-radius: 10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-row: 2;
    text-align: right;
    padding: 15px;
}

.box .title {
    padding: 4px;
}
.box .head {
    width: 170px;
    height: 120px;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.svg {
    text-align: center;
}

.box button {
    border: 0;
    outline: 0;
}
.box .svgs {
    width: 16px;
    margin: 2px;
    
}
.box span {
    font-size:15px ;
    color: #000;
}



@media (max-width:930px ) {
    .container {
        width: 700px;
        height: 450px;
        padding: 20px 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .box {
        width: 180px;
        height: 200px;
    }
    .box .head {
        width: 150px;
        height: 110px;
    }
    .box span {
        font-size:16px ;
        
    }


}
@media (max-width:780px ) {
    .container {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 1200px;
    }
    .box {
        width: 200px;
        height: 210px;
    }
    .box .head {
        width: 170px;
        height: 120px;
    }
    .plusDep {
        justify-content: flex-end;
    }
    
}

@media (max-width:375px ) {
    .container {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 1200px;
    }
    .box {
        width: 200px;
        height: 200px;
    }
}